<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | giratina</title>
    <link rel="shortcut icon" href="../img/giratina.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="giratina">
    <h1>Giratina</h1>
    <img src="../img/giratina.png" alt="giratina">
    <p><b>tipo:</b> <span id="fantasma">fantasma</span> <span id="acero">acero</span></p>
    <br>
    <b>Descripcion:</b>
    <p>Giratina es un Pokémon legendario de tipo fantasma/dragón introducido en la cuarta generación. Es el encargado de proteger el Mundo Distorsión y la mascota del videojuego Pokémon Platino. Forma parte del trío dragón.</p>
    <p id="enlace"><a href="../index.html">Volver a incio</a></p>
</body>

</html>