<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | giratina</title>
    <link rel="shortcut icon" href="../img/giratina.png" type="image/x-icon">

</head>
<Style>
    body {
        background-color: aquamarine;
    }
    
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: red;
        border-radius: 5px;
    }
</Style>

<body>
    <h1>Giratina</h1>
    <img style="width: 25%;" src="../img/giratina.png" alt="giratina">
    <p><b>tipo:</b> <span style=" background-color: gray; padding: 2px; border-radius: 5px;">fantasma</span> <span style="background-color: rgb(54, 54, 129); padding: 2px; border-radius: 5px">acero</span></p>
    <br>
    <p>Descripcion:</p>
    <p>Giratina es un Pokémon legendario de tipo fantasma/dragón introducido en la cuarta generación. Es el encargado de proteger el Mundo Distorsión y la mascota del videojuego Pokémon Platino. Forma parte del trío dragón.</p>
    <p style="text-align: center;"><a href="../index.html">Volver a incio</a></p>
</body>

</html>