<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | greninja</title>
    <link rel="shortcut icon" href="../img/greninja.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="greninja">
    <h1>Greninja</h1>
    <img style="width: 25%;" src="../img/greninja.png" alt="greninja">
    <p><b>tipo:</b></tipo:> <span id="agua">agua</span> <span id="siniestro">siniestro</span></p>
    <br>
    <b>Descripcion:</b>
    <p>Greninja es un Pokémon de tipo agua/siniestro introducido en la sexta generación. Es la evolución de Frogadier.</p>
    <p id="enlace"><a href="../index.html">Volver al inicio</a></p>

</body>

</html>