<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | lucario</title>
    <link rel="shortcut icon" href="../img/lucario.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<Style>

</Style>

<body class="lucario">
    <h1>Lucario</h1>
    <img src="../img/lucario.png" alt="lucario">
    <p><b>tipo:</b> <span id="lucha">lucha</span> <span id="acero">acero</span></p>
    <br>
    <b>Descripcion:</b>
    <p>Lucario es un Pokémon de tipo lucha/acero introducido en la cuarta generación. Es la evolución de Riolu. Es un Pokémon adelantado por su aparición en la película Lucario y el misterio de Mew (ES), (HA), a partir de la sexta generación puede megaevolucionar
        en Mega-Lucario.</p>
    <p id="enlace"><a href="../index.html">Volver al inicio</a></p>
</body>

</html>