<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | lucario</title>
    <link rel="shortcut icon" href="../img/lucario.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
</head>
<Style>
    body {
        background-color: aquamarine;
    }
    
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: red;
        border-radius: 5px;
    }
</Style>

<body style="font-family: 'Inter', sans-serif;
font-family: 'VT323', monospace;">
    <h1>Lucario</h1>
    <img style="width: 25%;" src="../img/lucario.png" alt="lucario">
    <p><b>tipo:</b> <span style=" background-color: red; padding: 2px; border-radius: 5px;">lucha</span> <span style="background-color: gray; padding: 2px; border-radius: 5px">acero</span></p>
    <br>
    <p>Descripcion:</p>
    <p>Lucario es un Pokémon de tipo lucha/acero introducido en la cuarta generación. Es la evolución de Riolu. Es un Pokémon adelantado por su aparición en la película Lucario y el misterio de Mew (ES), (HA), a partir de la sexta generación puede megaevolucionar
        en Mega-Lucario.</p>
</body>

</html>