<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | lucario</title>
    <link rel="shortcut icon" href="../img/lucario.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Inter', sans-serif;
font-family: 'VT323', monospace;">
    <h1>lucario</h1>
    <img style="width: 50%;" src="../img/lucario.png" alt="lucario">
    <p>tipo: <span style=" background-color: red; padding: 2px; border-radius: 5px;">lucha</span> <span style="background-color: gray; padding: 2px; border-radius: 5px">acero</span></p>

</body>

</html>