<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | zorua</title>
    <link rel="shortcut icon" href="../img/zorua.png" type="image/x-icon">

</head>
<Style>
    body {
        background-color: aquamarine;
    }
    
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: red;
        border-radius: 5px;
    }
</Style>

<body>
    <h1>Zorua</h1>
    <img style="width: 25%;" src="../img/zorua.png" alt="zorua">
    <p><b>tipo:</b> <span style=" background-color: red; padding: 2px; border-radius: 5px;">lucha</span> <span style="background-color: gray; padding: 2px; border-radius: 5px">acero</span></p>
    <br>
    <p>Descripcion:</p>
    <p>El pequeño Zorua se asemeja a una cría de zorro, como es de tipo siniestro esto se debe resaltar en su apariencia. Es de color negro grisáceo, tiene algunos toques bordó y un simpático copito en la parte superior de su cabeza, asemejado al peinado
        de Chili/Zeo.</p>
</body>

</html>